<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Unsynced!</title>
</head>
<body id="unsynced">
    <header>
        <nav>
            <h1>unsynced</h1>
        </nav>
    </header>
    <main>
        <h2>404</h2>
        <h3>Yikes. Looks like you're off the sync-grid.</h3>
        <p>Check your internet connection or check out the URL for typo's</p>
        <p>&#9785;</p>
    </main>
    <div></div>
</body>
</html>