<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Unsynced</title>
</head>
<body id="server-error">
    <header>
        <nav>
            <h1>Unsynced!</h1>
        </nav>
    </header>
    <main>
        <h2>500</h2>
        <h3>Server error! Uh-oh, that's not good</h3>
        <p>We'll do our best to solve this problem as soon as possible.</p>
        <p>&#9785;</p>
    </main>
    <div></div>
</body>
</html>