@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Fredoka:wght@300..700&family=Noto+Emoji:wght@300..700&display=swap');

:root {
  --blue-color: oklch(46.85% 0.31321437166460125 264.052020638055);
}

body {
  /* background: rgb(0, 12, 233); */
  background: radial-gradient(#000dff 0%, black 100%);
  margin: 1.5em;
  background-attachment: fixed;
  color: white;
  font-family: "Comfortaa", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.searchNav {
  width: 100%;
  height: 100lvh;
  background: radial-gradient(#000dff 0%, black 100%);
  position: absolute;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  display: flex;
}

.searchNav.active {
  pointer-events: all;
  opacity: 1;
}


.searchNav input {
  width: 70vw;
  padding: 1rem;
  margin: 1em;
  background-color: transparent;
  border: none;
  border-bottom: .1rem solid var(--blue-color);
  color: white;
  font-size: 1.4rem;
}

.searchNav input:focus {
  outline: none;
  /* border: solid cyan 1px; */
  /* box-shadow: cyan 0 0 10px; */
}

input::placeholder {
  color: white;
  opacity: .5;
}

#cancelButton {
  border: none;
  background-color: #000dff;
  color: white;
  padding: 1rem;
  height: fit-content;
  margin-top: 1.5rem;
}

#index nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#index nav h1 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#index nav button {
  font-family: "Noto Emoji", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
  border: none;
  background-color: transparent;
  opacity: 0;
  animation: fadeIn .5s 1s forwards;
}

#unsynced {
  background: radial-gradient(#ff0000 0%, black 100%);
  background-attachment: fixed;
  color: white;
  font-family: "Comfortaa", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

#server-error {
  background: radial-gradient(#323232 0%, black 100%);
  background-attachment: fixed;
  color: white;
  font-family: "Comfortaa", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

#unsynced div {
  width: 100%;
  height: 100lvh;
  position: absolute;
  top: 0;
  background: radial-gradient(#000dff 0%, black 100%);
  z-index: -1;
  animation: fadeOut 1s 1s forwards;
}

#unsynced nav {
  display: flex;
  justify-content: center;
  animation: horizontal-shaking .5s .5s forwards;
  position: relative;
  font-size: 1.5em;
}

#results h3 {
  font-size: .9rem;
}


#unsynced main {
  text-align: center;
}

#unsynced main h2 {
  font-size: 5rem;
  opacity: 0;
  margin: 0;
  animation: fadeIn .5s 1s forwards;
}

#unsynced main h3 {
  font-size: 1.5rem;
  width: 70%;
  margin: 1rem auto 0 auto;
  opacity: 0;
  animation: fadeIn .5s 1s forwards;
}

#unsynced main p:first-of-type {
  width: 70%;
  margin: 2rem auto;
  opacity: 0;
  animation: fadeIn .5s 1.5s forwards;
}

#unsynced main p:last-of-type{
  width: 70%;
  margin: 2rem auto;
  font-size: 4rem;
  opacity: 0;
  animation: fadeIn .5s 2s forwards;

}

#index h1 {
  margin: .5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  opacity: 0;
  text-align: center;
  animation: fadeIn 1s 1s ease-in-out forwards,
    slideIn 1s 1s forwards;
  gap: .5em;
}

#index h1 p {
  font-family: "Noto Emoji", sans-serif;
  font-size: .8em;
  animation: pop 0.3s 2s linear 1, fadeIn 0.3s 2s forwards;
  opacity: 0;
  /* transform: scale(1) */

}

h3 {
  margin: 0 2rem 1rem 2rem;
}

#detail-pagina section h4 {
  margin: 1rem 2rem;
  font-weight: 900;
}

#detail-pagina section div:first-of-type {
  display: flex
}

#detail-pagina section h5 span {
  font-family: "Noto Emoji", sans-serif;
}

#detail-pagina section h5 {
  margin: 1rem 2rem;
}

#detail-pagina header nav {
  position: fixed;
  z-index: 99;
  margin-top: 1rem;
}

#detail-pagina header nav a{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-shadow: black 0 0 20px;
}

#index ul {
  display: flex;
  gap: .5em;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  opacity: 0;
  overscroll-behavior: contain auto;
  animation: fadeIn .5s 1.5s forwards;
}

#index ul li {
  margin: 0;
  scroll-snap-align: center;
  border-radius: 200px;
  /* width: min(70vw, 12em); */
}

#index ul li img {
  display: block;
  aspect-ratio: 2/3;
  object-fit: cover;
  width: 8em;
  border-radius: .5em;

}

#index .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
}

#index h2 {
  animation: fadeIn .5s 1s forwards;
  opacity: 0;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #000000;
  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  border: solid rgba(0, 255, 255, 0) 1px;
  animation: fadeIn .5s 2s forwards;
  opacity: 0;

}

.div1:focus,
.div2:focus,
.div3:focus,
.div4:focus,
.div5:focus,
.div6:focus {
  background: blue;
  outline: none;
  border: solid cyan 1px;
  box-shadow: cyan 0 0 10px;
}

.div1:focus img,
.div2:focus img,
.div3:focus img,
.div4:focus img,
.div5:focus img,
.div6:focus img {
  width: 75%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #000000;
  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn .5s 2.5s forwards;

  opacity: 0;

}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #000000;

  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn .5s 3s forwards;
  opacity: 0;

}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #000000;
  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn .5s 3.5s forwards;
  opacity: 0;


}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #000000;
  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn .5s 4s forwards;
  opacity: 0;



}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #000000;
  /* border: solid 1px white; */
  border-radius: 1em;
  aspect-ratio: 2/2;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: fadeIn .5s 4.5s forwards;
  opacity: 0;
}

.parent img {
  width: 60%;
  transition: 0.5s;

}

a {
  transition: .5s;
}


#detail-pagina {
  margin: 0;
  background: radial-gradient(circle at 50% 100%, #000dff 0%, black calc(100% - (100vw / 16 * 9)));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100lvh;
}

/* PLYR STYLING */


#sync-gradient {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 4em;
  background: linear-gradient(to bottom, rgba(0,0,0, 0), black);
}

#gradient-container {
  position: relative;
}

#gradient-container img {
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 99;
  animation: fadeOut .5s 5s forwards ;
}

.plyr--video {
  pointer-events: none;
  position: absolute;
  top: -50%;
	height: 200%;
  opacity: 1;
  z-index: 98;
}

#gradient-container #box {
  width: 100%;
  height: 250px;
  background-color: black;
  position: absolute;
  z-index: 98;
  animation: fadeOut .5s 1s forwards;
}


.plyr__video-embed iframe, .plyr__video-wrapper--fixed-ratio video {
  transform: scale(1.5);
    animation: fadeIn .5s 5s forwards;
  opacity: 0;
}


/* Detail-page title */ 

#detail-pagina section {
  translate: 0 -2em;
  position: relative;
  z-index: 100;
}

#results ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


#results ul img {
  width: 6rem;
  object-fit: cover;
  aspect-ratio: 16/9;
  display: block;
  object-position: top;
  border-radius: 5px;
}

#movie-description {
  display: block;
  color: white;
  text-decoration: none;
}


#searchBox {
  display: flex;
}

#results h3 {
  margin-bottom: 0;
  margin-top: 0;
}

#results p {
  margin-left: 2rem;
  margin-bottom: 0;
  margin-top: .5rem;
}



#detail-pagina section h1 {
  margin: 1rem 2rem;
  font-size: clamp(1.5rem, 2rem, calc(2rem - 0.1rem * (100vw - 320px)));
  margin-top: 0;
}

#detail-pagina section h2 {
  margin: 0 0 0 1em;
  font-size: 2em;
}

#detail-pagina section div:first-of-type button {
  background-color: var(--blue-color);
  border: none;
  color: white;
  padding: 1em 2em;
  font-size: 1rem;
  margin-left: 2rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

#detail-pagina section div button a { 
  text-decoration: none;
}

#detail-pagina section div button a:visited {
  color: var(--blue-color);
} 

#detail-pagina section div:first-of-type button:nth-of-type(2) {
  color: var(--blue-color);
  border: none;
  background-color: white;
  padding: 1em 2em;
  font-size: 1rem;
  margin-left: 2rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

#detail-pagina #gradient-container p {
  margin: 0;
}

#detail-pagina p {
  margin: 0 2rem;
  line-height: 1.7em;
  font-size: .8em;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sizeBig {
  50% {
    transform: scale(1.2);
  }
}
