@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Fredoka:wght@300..700&family=Noto+Emoji:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@font-face {
  font-family: 'Disney';
  src: url("/fonts/disney.ttf");
}

@font-face {
  font-family: 'Sony';
  src: url("/fonts/sony.otf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: oklch(46.85% 0.31321437166460125 264.052020638055);
  --sync-p-font: "Comfortaa", sans-serif;
  --sync-emoji-font: "Noto Emoji", sans-serif;
  --disney-font: 'Disney', 'Comfortaa', sans-serif;

}

#hidden {
  overflow: hidden;
}


body {
  font-family: var(--sync-p-font);
  height: 100vh;
  background: radial-gradient(#000dff 0%, black 100%);
  color: white;
}

/**********/
/* Header */
/**********/



header {

  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr max-content 1fr;
    padding: 1rem;
    position: relative;

    h1 {
      grid-column-start: 2;
      margin-right: auto;
      margin-left: auto;
      font-size: 2rem;
    }

    button {
      grid-column-start: 3;
      justify-self: end;
      font-family: var(--sync-emoji-font);
      background-color: transparent;
      border: none;
      color: white;
      position: absolute;
      right: 1.5rem;
      font-size: 1rem;
    }
  }


  .searchNav {
    width: 100%;
    height: 100lvh;
    background: radial-gradient(#000dff 0%, black 100%);
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    display: flex;

    input {
      width: 70vw;
      padding: 1rem;
      margin: 1em;
      background-color: transparent;
      border: none;
      border-bottom: .1rem solid var(--blue-color);
      color: white;
      font-size: 1.4rem;
    }

    input:focus {
      outline: none;
      /* border: solid cyan 1px; */
      /* box-shadow: cyan 0 0 10px; */
    }
  }

  .searchNav.active {
    pointer-events: all;
    opacity: 1;
  }

  input::placeholder {
    color: white;
    opacity: .5;
  }

  #cancelButton {
    border: none;
    background-color: #000dff;
    color: white;
    padding: 1rem;
    height: fit-content;
    margin-top: 1.5rem;
  }
}


/********/
/* Main */
/********/

main {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
  }


  h2 {
    animation: fadeIn .5s 2.2s forwards;
    opacity: 0;
    font-size: 1rem;
    margin: 1.5rem 0rem;
  }



  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #000000;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid rgba(0, 255, 255, 0) 1px;
    animation: fadeIn .5s 1s forwards;
    opacity: 0;

  }

  .div1:focus,
  .div2:focus,
  .div3:focus,
  .div4:focus,
  .div5:focus,
  .div6:focus {
    background: blue;
    outline: none;
    border: solid cyan 1px;
    box-shadow: cyan 0 0 10px;
  }

  .div1:focus img,
  .div2:focus img,
  .div3:focus img,
  .div4:focus img,
  .div5:focus img,
  .div6:focus img {
    width: 75%;
  }

  .div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #000000;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn .5s 1s forwards;

    opacity: 0;

  }

  .div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #000000;

    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn .5s 1s forwards;
    opacity: 0;

  }

  .div4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #000000;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn .5s 1.5s forwards;
    opacity: 0;


  }

  .div5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #000000;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn .5s 1.5s forwards;
    opacity: 0;
  }

  .div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #000000;
    /* border: solid 1px white; */
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn .5s 1.5s forwards;
    opacity: 0;
  }

  .parent {
    img {
      width: 60%;
      transition: 0.5s;
    }
  }



  /****************************/
  /* Scrolling through movies */
  /****************************/

  ul {
    display: flex;
    gap: .5em;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    opacity: 0;
    overscroll-behavior: contain auto;
    animation: fadeIn .5s 2.2s forwards;

    li {
      margin: 0;
      scroll-snap-align: center;
      border-radius: 200px;

      img {
        display: block;
        aspect-ratio: 2/3;
        object-fit: cover;
        width: 8em;
        border-radius: .5em;
      }
    }
  }

  ul:nth-of-type(2) {
    margin-bottom: 5.5rem;
  }

}

/*******************/
/* Results styling */
/*******************/


#results {


  #searchBox {
    display: flex;
  }

  h2 {
    animation: none;
    opacity: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: none;
    opacity: 1;

    img {
      width: 6rem;
      object-fit: cover;
      aspect-ratio: 16/9;
      display: block;
      object-position: top;
      border-radius: 5px;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: .5rem;
  }

  h3 {
    font-size: .9rem;

  }

  #movie-description {
    display: block;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}


/***************/
/* Detail Page */
/***************/

#detail-pagina {
  margin: 0;
  background: radial-gradient(circle at 50% 100%, #000dff 0%, black calc(100% - (100vw / 16 * 9)));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100lvh;

  header {
    position: absolute;
    margin: 0;

    nav {
      position: fixed;
      z-index: 99;
      top: -1.5rem;

      a {
        color: white;
        text-decoration: none;
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 2.5rem;
        text-shadow: black 0 0 20px;
      }
    }


  }

  p {
    margin: 0 2rem;
    line-height: 1.7em;
    font-size: .8em;
  }


  main {
    margin: 0;

    #gradient-container {
      position: relative;

    }

    #gradient-container {

      p {
        margin: 0;
      }

    }

    img {
      position: absolute;
      top: 0;
      opacity: 1;
      z-index: 99;
      animation: fadeOut .5s 5s forwards;
    }

    #sync-gradient {
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 4em;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    }

    #box {
      width: 100%;
      height: 250px;
      background-color: black;
      position: absolute;
      z-index: 98;
      animation: fadeOut .5s 1s forwards;
    }

    section {
      translate: 0 -2em;
      position: relative;
      z-index: 100;

      h1 {
        margin: 1rem 2rem;
        font-size: clamp(1.5rem, 2rem, calc(2rem - 0.1rem * (100vw - 320px)));
        margin-top: 0;
      }

      h3 {
        margin: 0 2rem 1rem 2rem;
      }

      h4 {
        margin: 1rem 2rem;
        font-weight: 900;
      }

      h5 {
        margin: 1rem 2rem;

        span {
          font-family: "Noto Emoji", sans-serif;
        }
      }

      h2 {
        margin: 0 0 0 1em;
        font-size: 2em;
      }

      div {

        button {

          a {
            text-decoration: none;
          }

          a:visited {
            color: var(--blue-color);
          }

        }
      }

      div:first-of-type {
        button {
          background-color: var(--blue-color);
          border: none;
          color: white;
          padding: 1em 2em;
          font-size: 1rem;
          margin-left: 2rem;
          border-radius: .5rem;
          margin-bottom: 1rem;
        }

        button:nth-of-type(2) {
          color: var(--blue-color);
          border: none;
          background-color: white;
          padding: 1em 2em;
          font-size: 1rem;
          margin-left: 2rem;
          border-radius: .5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/* PLYR STYLING */
.plyr--video {
  pointer-events: none;
  position: absolute;
  top: -50%;
  height: 200%;
  opacity: 1;
  z-index: 98;
}



.plyr__video-embed iframe,
.plyr__video-wrapper--fixed-ratio video {
  transform: scale(1.5);
  animation: fadeIn .5s 5s forwards;
  opacity: 0;
}


/* Disney Styling */

#disney {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 1rem 1rem 10rem;

  h2:first-of-type {
    font-size: 1.5rem;
  }

  >img {
    position: absolute;
    animation: birdsFlying 5s 2s forwards;
    translate: 39rem 0;
    pointer-events: none;
    z-index: 1;
    width: 10rem;

  }

  h2 {
    font-family: var(--sync-p-font);
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  ul {

    li {
      transition: .5s;

    }

    li:hover,
    li:focus-within {

      img {
        filter: brightness(.8);
      }
    }
  }

  ul:first-of-type {

    overflow-y: hidden;

    li {
      position: relative;
      box-shadow: black 0 0 20px;


      img {
        display: block;
        width: 24.7em;
        border-radius: .5em;
        aspect-ratio: unset;
      }

      p {
        position: absolute;
        z-index: 2;
        top: 130px;
        font-size: .7rem;
        color: white;
        margin: 1rem;
        opacity: 0;
        transition: .5s;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 0 1rem 1rem;
        transition: .5s;
        font-size: 1rem;
        z-index: 2;
      }
    }

    li:hover,
    li:focus-within {

      img {
        filter: brightness(.5);
      }

      h3 {
        bottom: 174px;
        z-index: 1;
        transition: .5s;
      }

      p {
        top: 32px;
        opacity: 1;
      }
    }

  }

  ul:nth-of-type(2),
  ul:nth-of-type(3) {
    margin: 0;

    li {
      border-radius: 0px;
      box-shadow: black 0 0 10px;
    }
  }
}



#unique {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  background: radial-gradient(#685196, #183838);


  >div:first-of-type {
    background-image: url("/images/glitter.gif");
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: .2;
    mix-blend-mode: lighten;
    object-fit: cover;
    transition: .5s;

  }


  >div:nth-of-type(2) {
    position: absolute;
    top: 0;
    height: 120%;
    width: 100vw;
    background: radial-gradient(#685196, #183838);
    z-index: -2;
    animation: fadeIn 1s 1s forwards;
    opacity: 0;
  }

  header {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    >img {
      position: absolute;
      top: -2rem;
      width: 6rem;
      height: 6rem;
      rotate: 30deg;
      transition: .5s;

    }

    >img:nth-of-type(1) {
      left: -2rem;
      animation: FlowerAnimationLeft 1s 1.5s forwards;
      translate: -4rem 0;
    }

    >img:nth-of-type(2) {
      right: -2rem;
      animation: FlowerAnimationRight 1s 1s forwards;
      translate: 4rem 0;
    }

    nav {
      h1 {
        font-family: 'Disney', sans-serif;
        text-align: center;
        font-size: 4rem;
        animation: topBottom 3s .5s ease-out forwards;
        /* translate: 0 -7rem; */
        opacity: 0;
        transition: .5s;
        color: rgb(255, 248, 206);
      }

      h1:hover {
        letter-spacing: .5rem;
      }
    }
  }

  footer {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    nav {
      background-color: black;
      width: 100vw;

      ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        align-items: center;
        position: relative;

        li {
          list-style-type: none;
          padding: 2rem;
          font-size: 1.2rem;

          a {
            color: white;
            text-decoration: none;
            font-family: var(--sync-emoji-font);

          }

          button {
            font-family: var(--sync-emoji-font);
            background: transparent;
            color: white;
            border: none;
            font-size: 1.2rem;
            transition: .5s;
            text-align: center;
            padding: 0;
          }


          .magicStyle {
            font-family: var(--sync-emoji-font);
            background: transparent;
            color: hotpink;
            text-shadow: hotpink 0 0 5px;
            border: none;
            padding: 0;
          }
        }
      }
    }
  }
}


/****************/
/* Sony Styling */
/****************/

#sony-header {

  nav {

    h1 {
      font-family: 'Sony';
      text-transform: uppercase;
      letter-spacing: .5rem;
    }
  }
}

#sony {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 9rem;

  h2:first-of-type {
    font-size: 1.5rem;
  }


  ul:first-of-type {

    overflow-y: hidden;

    li {
      position: relative;
      box-shadow: black 0 0 20px;


      img {
        display: block;
        width: 24.7em;
        border-radius: .5em;
        aspect-ratio: unset;
      }

      p {
        position: absolute;
        z-index: 2;
        top: 130px;
        font-size: .7rem;
        color: white;
        margin: 1rem;
        opacity: 0;
        transition: .5s;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 0 1rem 1rem;
        transition: .5s;
        font-size: 1rem;
        z-index: 2;
      }
    }



    li:hover,
    li:focus-within {

      img {
        filter: brightness(.5);
      }

      h3 {
        bottom: 174px;
        z-index: 1;
        transition: .5s;
      }

      p {
        top: 32px;
        opacity: 1;
      }
    }

  }

  ul:nth-of-type(2){
    margin: 0;
  }
}

#footerSony {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  nav {
    background-color: black;
    width: 100vw;

    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      align-items: center;
      position: relative;

      li {
        list-style-type: none;
        padding: 2rem;
        font-size: 1.2rem;

        a {
          color: white;
          text-decoration: none;
          font-family: var(--sync-emoji-font);

        }

        button {
          font-family: var(--sync-emoji-font);
          background: transparent;
          color: white;
          border: none;
          font-size: 1.2rem;
          transition: .5s;
          text-align: center;
          padding: 0;
        }


        .sonyStyle {
          font-family: var(--sync-emoji-font);
          background: transparent;
          color: yellow;
          text-shadow: yellow 0 0 5px;
          border: none;
          padding: 0;
        }
      }
    }
  }
}

#sonyBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url("/images/abstract.jpg");
  background-size: cover;
  background-position: 50% 100%;
  opacity: 1;
  animation: backgroundShift 2s forwards ease-in-out;
  filter: blur(2);
  rotate: 180deg;
}

.sony {
  animation: sonyAnimation 2s forwards;
  width: 40%;
  padding: 1rem;
  height: fit-content;
}




/**********/
/* Footer */
/**********/

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;

  section {
    background-color: black;
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }
}


/********************/
/* Paramount Styling */
/********************/


#paramount-header {
  
  nav {
    svg {
      fill: white;
      width: 50%;
      padding: 1rem;
      animation: fadeIn 1s 2s forwards;
      opacity: 0;
    }
  }
}

#paramount {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 9rem;
  position: relative;
  margin-top: 0;

  h2:first-of-type {
    font-size: 1.5rem;
  }

  >svg {
    z-index: -1;
    position: fixed;
    bottom: 0rem;
    animation: mountainRise 2s forwards
  }

  ul:first-of-type {

    overflow-y: hidden;

    li {
      position: relative;
      box-shadow: black 0 0 20px;


      img {
        display: block;
        width: 24.7em;
        border-radius: .5em;
        aspect-ratio: unset;
      }

      p {
        position: absolute;
        z-index: 2;
        top: 130px;
        font-size: .7rem;
        color: white;
        margin: 1rem;
        opacity: 0;
        transition: .5s;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 0 1rem 1rem;
        transition: .5s;
        font-size: 1rem;
        z-index: 2;
      }
    }



    li:hover,
    li:focus-within {

      img {
        filter: brightness(.5);
      }

      h3 {
        bottom: 174px;
        z-index: 1;
        transition: .5s;
      }

      p {
        top: 32px;
        opacity: 1;
      }
    }

  }

  ul:nth-of-type(2){
    margin: 0;
  }
}

#footerParamount {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  nav {
    background-color: black;
    width: 100vw;

    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      align-items: center;
      position: relative;

      li {
        list-style-type: none;
        padding: 2rem;
        font-size: 1.2rem;

        a {
          color: white;
          text-decoration: none;
          font-family: var(--sync-emoji-font);

        }

        button {
          font-family: var(--sync-emoji-font);
          background: transparent;
          color: white;
          border: none;
          font-size: 1.2rem;
          transition: .5s;
          text-align: center;
          padding: 0;
        }


        .sonyStyle {
          font-family: var(--sync-emoji-font);
          background: transparent;
          color: yellow;
          text-shadow: yellow 0 0 5px;
          border: none;
          padding: 0;
        }
      }
    }
  }
}

#paramountBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  /* background: linear-gradient(#060630 0%, rgb(255, 255, 255) 100%); */
  background-image: url("/images/snowoverlay.gif");
  background-size: cover;
  background-position: 50% 100%;
  opacity: .5;
  filter: blur(2);
}

#paramountBG {
  background: linear-gradient(#103a6a 0%, #acd1ff 100%);
  background-image: no-repeat;
  background-attachment: fixed;  
}


/* ***************/
/*   Animation   */
/* ***************/

.play-audio-on-animation {
  animation: playAudioAnimation 1s forwards;
}


@keyframes mountainRise {
  0% {
    bottom: 0;
    scale: 1;
  }
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 90% {
    transform: translateX(-1px)
  }
  15%, 25%, 35%, 45%, 55%, 65%, 75%, 85% {
    transform: translateX(1px)
  }
  100% {
    bottom: 10rem;
    opacity: .5;
    scale: 2;
  }
}

@keyframes backgroundShift {
  from {
    background-position: 1% 200%;

  }

  to {
    background-position: 50% 100%;

  }
}

@keyframes sonyAnimation {
  from {
    opacity: 0;
    filter: drop-shadow(0 0 5px white);
  }

  to {
    opacity: 1;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0));
    fill: white;
  }
}

@keyframes playAudioAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes topBottom {
  from {
    opacity: 0;
    transform: scale(.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes birdsFlying {
  from {
    translate: 39rem 0;
    rotate: 30deg;

  }

  to {
    translate: -22rem 0;
    rotate: 30deg;
  }
}

@keyframes FlowerAnimationLeft {
  from {
    translate: -4rem 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes FlowerAnimationRight {
  from {
    translate: 4rem 0;
  }

  to {
    translate: 0 0;
    overflow-x: hidden;
  }
}

@keyframes sizeBig {
  50% {
    transform: scale(1.2);
  }
}

@keyframes glowing {
  from {
    text-shadow: 0;
  }

  to {
    /* text-shadow: rgb(255, 245, 188) 0 0 10px; */
  }
}