body {
    background-color: beige;
    margin: 1em;
}

ul {
    display: flex;
    gap: .5em;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain auto;
}

ul li {
    margin: 0;
    scroll-snap-align: center;
    border-radius: 200px;
    /* width: min(70vw, 12em); */
}

ul li img {
    display: block;
    aspect-ratio: 2/3;
    object-fit: cover;
    width: 8em;
    border-radius: .5em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;

}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.div1 img {
    width: 20%;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;


}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;

}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;


}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;


}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #e9e9e9;
    border-radius: 1em;
    aspect-ratio: 2/2;
    justify-content: center;
    align-items: center;
    display: flex;


}

.parent img {
    width: 80%;
}

a {
    transition: .5s;
}

a:focus {
    background-color: rgb(205, 255, 248);
}